{% extends "base.html" %}
{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'css/employee_dashboard_styles.css' %}">
{% endblock %}

{% block content %}
<h1>Bienvenido, Empleado</h1>
<p>Selecciona una opción:</p>

<div class="row">
    <!-- Tarjeta para Cargar Libros -->
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Cargar Libro</h5>
                <p class="card-text">Agrega un nuevo libro a la biblioteca.</p>
                <a href="{% url 'add_book' %}" class="btn btn-primary">Ir a Cargar Libro</a>
            </div>
        </div>
    </div>

    <!-- Tarjeta para Cargar Periódicos -->
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Cargar Periódico</h5>
                <p class="card-text">Agrega un nuevo periódico a la biblioteca.</p>
                <a href="{% url 'add_newspaper' %}" class="btn btn-success">Ir a Cargar Periódico</a>
            </div>
        </div>
    </div>

    <!-- Nueva Tarjeta para Buscar Periódicos -->
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Buscar Periódico</h5>
                <p class="card-text">Encuentra periódicos por título, alcance o género.</p>
                <a href="{% url 'newspaper_search' %}" class="btn btn-info">
                    <i class="fas fa-search"></i> Ir a Buscar Periódico
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}