{% extends "base.html" %}
{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'newspaper/css/add_newspaper_styles.css' %}">
{% endblock %}

{% block content %}
<h1>Agregar Periódico</h1>
<form method="post" enctype="multipart/form-data" class="form-container">
    {% csrf_token %}
    
    <div class="form-grid">
        <!-- Columna 1 -->
        <div class="form-column">
            <div class="form-row">
                <label for="{{ form.title.id_for_label }}">Título</label>
                {{ form.title }}
            </div>

            <div class="form-row">
                <label for="{{ form.publisher.id_for_label }}">Editorial</label>
                {{ form.publisher }}
            </div>

            <div class="form-row">
                <label for="id_publication_date">Fecha de Publicación:</label>
                <input type="date" id="id_publication_date" name="publication_date" required>
            </div>

            <!-- Campo 'scope' (Alcance) -->
            <div class="form-row">
                <label for="{{ form.scope.id_for_label }}">Alcance</label>
                {{ form.scope }}
            </div>

            <div class="form-row">
                <label for="{{ form.language.id_for_label }}">Idioma</label>
                {{ form.language }}
            </div>
        </div>

        <!-- Columna 2 -->
        <div class="form-column">
            <div class="form-row">
                <label for="{{ form.genre.id_for_label }}">Género</label>
                {{ form.genre }}
            </div>

            <div class="form-row">
                <label for="{{ form.edition.id_for_label }}">Edición</label>
                {{ form.edition }}
            </div>

            <div class="form-row">
                <label for="{{ form.description.id_for_label }}">Descripción</label>
                {{ form.description }}
            </div>

            <div class="form-row">
                <label for="{{ form.cover_image.id_for_label }}">Portada</label>
                {{ form.cover_image }}
            </div>

            <div class="form-row">
                <label for="{{ form.status.id_for_label }}">Estado</label>
                {{ form.status }}
            </div>
        </div>
    </div>

    <!-- Botón de guardar y enlace de retorno -->
    <div class="form-row full-width">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
    <div class="form-row full-width">
        <a href="{% url 'employee_dashboard' %}" class="btn btn-secondary back-link">Volver al Dashboard</a>
    </div>
</form>
{% endblock %}