{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Biblioteca 28 de Noviembre{% endblock %}</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base_styles.css' %}">
    {% block extra_style %}{% endblock %}
    
</head>
<body>
    <header>
        <h1>Bienvenido a la Biblioteca 28 de Noviembre</h1>
        <nav>
            <a href="{% url 'home' %}">Inicio</a>
            {% comment %} <a href="{% url 'logout' %}">Cerrar Sesión</a> hay que ver como hago para hacer esto{% endcomment %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 | Biblioteca 28 de Noviembre. Todos los derechos reservados</p>
    </footer>
</body>
</html>